<!DOCTYPE html>
<html>
<body>
<p>Hello</p>
<div id='contentarea'>
  
</div>
<script type="text/template" id="person-collection">
<div id="button-panel">
<button name="New" id="new_person">New</button>
<button name="<" id="prev"></button>
<button name=">" id="next"></button>
</div>
<table>
	<thead>
		<tr>
		<td>Name</td>
		<td>Date of Birth</td>
		<td>Address</td>
		<td>City</td>
		<td>Country</td>
		</tr>
	</thead>
	<tbody id="person_list">
	
	</tbody>
</table>

</script>

<script type="text/template" id="person-template">
		<tr>
		<td> <%- name %></td>
		<td><%- dob %></td>
		<td><%- address %></td>
		<td><%- city %></td>
		<td><%- country %></td>
		</tr>
	</script>
<script src="js/bundle.js"></script>
</body>
</html>
